<div class="modal fade" id="unsavedChangesModal" tabindex="-1" aria-labelledby="unsavedChangesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unsavedChangesModalLabel">Unsaved changes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="unsavedChangesModalBody">
        You have unsaved changes. Would you like to save them?
      </div>
      <div class="modal-footer border-0 pt-0 pb-4">
        <div class="d-flex flex-wrap justify-content-end align-items-center gap-2 w-100">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Stay on page</button>
          <button type="button" class="btn btn-outline-danger" id="unsavedChangesDiscardBtn">Discard changes</button>
          <button type="button" class="btn btn-primary" id="unsavedChangesSaveBtn">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
