{% load static %}

<div id="consultationPopup" class="free-cons-popup">
    <div class="popup-content">
        <!-- Photo and text container -->
        <div class="popup-header">
            <div class="popup-photo">
              <img src="{% static 'website/images/webinars/mateusz.jpg' %}" alt="">
            </div>
            <div class="popup-text">
                <p>Schedule a FREE class 🤝</p>
                <p>Graduates with 7s in AI SL!</p>
            </div>
        </div>
        <!-- Button -->
        <button class="popup-btn" onclick="redirectToConsultation()">Claim Now</button>
        <span class="popup-close" onclick="closePopup()">&times;</span>
    </div>
</div>