{% load static %}

<div id="popup-premium-questionbank" class="popup-register">
    <div class="popup-premium-content">
       <h2><strong>This content is for PREMIUM users only!</strong></h2> 
       <h2>By going premium you unlock the full power of our Edunade Academy platform and get access to more than two times more resources, for only £29 per month! Try to look for a better value-for-money investment, we will wait :)</h2>
   
       <h3>Click the button below to subscribe to a premium account</h3>
       <a href="{% url 'subscriptions' %}">SUBSCRIBE</a>
    </div>
   </div>