{% load static %}

<div id="popup-register-questionbank" class="popup-register">
   <div class="popup-register-content">
      <h2><strong>This content is for registered users only!</strong></h2> 
      <h2>Set up a FREE account to access more information and knowledge! Get access to additional webinars, questions from our questionbank and university reports completely for free.</h2>

      <h3>Click the button below to register.</h3>
      <a href="{% url 'start_page' %}">REGISTER</a>
   </div>
</div>