{% load static %}

<li class="mb-4"><span class="me-2" style="color: #8592a3; font-size: 1.2rem;">✓</span>Limited access to the questionbank (around 10%)</li>
<li class="mb-4"><span class="me-2" style="color: #8592a3; font-size: 1.2rem;">✓</span>Exam builder with available questions</li>
<li class="mb-4"><span class="me-2" style="color: #8592a3; font-size: 1.2rem;">✓</span>Limited access to past paper recordings (around 5%)</li>
<li class="mb-4"><span class="me-2" style="color: #8592a3; font-size: 1.2rem;">✓</span>Selected documents from the After-IB section</li>


