{% load static %}

<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Questionbank</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Video explanations</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Past paper solutions (by topic & by year)</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Exam builder</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>University database</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>University reports</li>
<li class="mb-4"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Edunade AI (unlimited)</li>
<li class="mb-0"><span class="me-2" style="color: #28a745; font-size: 1.2rem; font-weight: bold;">✓</span>Tutoring pass for £35/hour</li>



