{% load static %}

<!doctype html>

<html
  lang="en"
  class="layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-skin="default"
  data-bs-theme="light"
  data-assets-path="../../assets/"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{{ site_name }} | FAQ</title>

    <meta name="description" content="" />

    <link rel="icon" href="{% static 'website/images/platform_logo.svg' %}">
    <link rel="alternate icon" href="{% static 'website/images/safari_logo2_prev_ui.png' %}" type="image/png">
    <meta property="og:image" content="https://academy.edunade.com/static/website/images/Edunade_Vertical_Black_RGB.png">

    
    {% include 'top_base.html' %}

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'website/css/vendor/css/pages/pages-faq.css' %}" />



    <!-- Helpers -->
    <script type="text/javascript" src="{% static 'website/js/vendor/helpers.js' %}"></script>

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js. -->
    <!-- <script type="text/javascript" src="{% static 'website/js/vendor/template-customizer.js' %}"></script> -->

    <!--? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->

    <script type="text/javascript" src="{% static 'website/js/vendor/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->


          {% include 'sidebar.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row my-2">
                <div class="col-12 text-center my-2">
                  <div class="badge bg-label-primary rounded-pill">FAQ</div>
                  <h4 class="my-2">Have a question?</h4>
                  <p class="mb-0">
                    We've got you covered! Please check out our FAQ section below for answers to common questions.
                  </p>
                </div>
              </div>

              <div class="row mt-12">
                <!-- Navigation -->
                <div class="col-lg-3 col-md-4 col-12 mb-md-0 mb-4">
                  <div class="d-flex justify-content-between flex-column nav-align-left mb-2 mb-md-0">
                    <ul class="nav nav-pills flex-column flex-nowrap">
                      <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#payment">
                          <i class="icon-base ri ri-bank-card-line icon-sm me-2"></i>
                          <span class="align-middle">Payments & Subscriptions</span>
                        </button>
                      </li>
                      <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#delivery">
                          <i class="icon-base ri ri-shopping-cart-line icon-sm me-2"></i>
                          <span class="align-middle">Content</span>
                        </button>
                      </li>

                      <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#product">
                          <i class="icon-base ri ri-settings-4-line icon-sm me-2"></i>
                          <span class="align-middle">Data & Privacy</span>
                        </button>
                      </li>
                    </ul>
                    <div class="d-none d-md-block">
                      <div class="mt-4 text-center">
                        <img
                          src="{% static 'website/images/faq/faq-illustration.png' %}"
                          class="img-fluid"
                          width="135"
                          alt="FAQ Image" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Navigation -->

                <!-- FAQ's -->
                <div class="col-lg-9 col-md-8 col-12">
                  <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="payment" role="tabpanel">
                      <div class="d-flex mb-4 gap-4">
                        <div class="avatar avatar-md">
                          <div class="avatar-initial bg-label-primary rounded-4">
                            <i class="icon-base ri ri-bank-card-line icon-30px"></i>
                          </div>
                        </div>
                        <div>
                          <h5 class="mb-0">
                            <span class="align-middle">Payments & Subscriptions</span>
                          </h5>
                          <span>Get help on issues related to payments and subscriptions</span>
                        </div>
                      </div>

                        <div id="accordionPayment" class="accordion">
                          <div class="accordion-item active">
                            <h2 class="accordion-header">
                              <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                aria-expanded="true"
                                data-bs-target="#accordionDelivery-1"
                                aria-controls="accordionDelivery-1">
                                How do I pay for my subscription?
                              </button>
                            </h2>
  
                            <div id="accordionDelivery-1" class="accordion-collapse collapse show">
                              <div class="accordion-body">
                                You can purchase a subscription using your credit card. Our payment provider is Stripe, which works with virtually all credit cards.
                              </div>
                            </div>
                          </div>




                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-2"
                              aria-controls="accordionPayment-2">
                              What should I do if I'm having trouble placing an order?
                            </button>
                          </h2>
                          <div id="accordionPayment-2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              If you're having any technical issues, please contact us at contact@edunade.com.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-3"
                              aria-controls="accordionPayment-3">
                              Can I cancel my subscription?
                            </button>
                          </h2>
                          <div id="accordionPayment-3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              Yes, of course! You can cancel your subscription at any time. After you cancel, your current package will end at the end of the current billing period.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-4"
                              aria-controls="accordionPayment-4">
                              What is included in my subscription?
                            </button>
                          </h2>
                          <div id="accordionPayment-4" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              Everything! Purchasing the premium account gives you access to everything we have on the platform, which is around 3000 exam-style questions, 200+ hours of videos, and many many more! 🤝
                            </div>
                          </div>
                        </div>

                 
                      </div>
                    </div>
                    <div class="tab-pane fade" id="delivery" role="tabpanel">
                      <div class="d-flex mb-4 gap-4 align-items-center">
                        <div class="avatar avatar-md">
                          <span class="avatar-initial bg-label-primary rounded-4">
                            <i class="icon-base ri ri-shopping-cart-line icon-30px"></i>
                          </span>
                        </div>
                        <div>
                          <h5 class="mb-0">
                            <span class="align-middle">Content</span>
                          </h5>
                          <span>A section related to the content on our platform.</span>
                        </div>
                      </div>
                      <div id="accordionDelivery" class="accordion">
                        <div class="accordion-item active">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              aria-expanded="true"
                              data-bs-target="#accordionDelivery-1"
                              aria-controls="accordionDelivery-1">
                              Who is creating the study materials?
                            </button>
                          </h2>

                          <div id="accordionDelivery-1" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                              All study materials are created by our team of experienced teachers and tutors. It is always proofread and aligns with latest curriculum requirements.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionDelivery-2"
                              aria-controls="accordionDelivery-2">
                              Can I download or share the study materials?
                            </button>
                          </h2>
                          <div id="accordionDelivery-2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              No, the copyrights to all materials available on the platform belong to Edunade. It is forbidden to download and illegally distribute any content from the platform.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionDelivery-3"
                              aria-controls="accordionDelivery-3">
                             Is the content up-to-date?
                            </button>
                          </h2>
                          <div id="accordionDelivery-3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              Yes! All our content is updated every week, with currently around 100 questions and/or 20 videos are added every week.
                            </div>
                          </div>
                        </div>
                        

                        
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionDelivery-4"
                              aria-controls="accordionDelivery-4">
                             Will there be more subjects available?
                            </button>
                          </h2>
                          <div id="accordionDelivery-4" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              Yes! We are constantly expanding our content to include more subjects and topics. The next in line are Chemistry and Biology.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

           
                    <div class="tab-pane fade" id="product" role="tabpanel">
                      <div class="d-flex mb-4 gap-4 align-items-center">
                        <div class="avatar avatar-md">
                          <span class="avatar-initial bg-label-primary rounded-4">
                            <i class="icon-base ri ri-settings-4-line icon-30px"></i>
                          </span>
                        </div>
                        <div>
                          <h5 class="mb-0"><span class="align-middle">Data & Privacy</span></h5>
                          <span>Learn about the safety of your data.</span>
                        </div>
                      </div>
                      <div id="accordionProduct" class="accordion">
                        <div class="accordion-item active">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              aria-expanded="true"
                              data-bs-target="#accordionCancellation-1"
                              aria-controls="accordionCancellation-1">
                              Is my data shared with any third parties?
                            </button>
                          </h2>

                          <div id="accordionCancellation-1" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                              No, it is not. All personal data is stored on our secure servers and is not shared with any third parties.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionCancellation-2"
                              aria-controls="accordionCancellation-2">
                              Are essays used in the AI Essay Feedback shared with any third parties?
                            </button>
                          </h2>
                          <div id="accordionCancellation-2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                              No, they are not. All essays are deleted from our servers within 24 hours after receiving them.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              aria-controls="accordionCancellation-3"
                              data-bs-target="#accordionCancellation-3">
                              Is my data deleted upon the deletion of my account?
                            </button>
                          </h2>
                          <div id="accordionCancellation-3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                             Yes, when the account is deleted, all personal data is deleted from our servers.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /FAQ's -->
              </div>

              <!-- Contact -->
              <div class="row my-6">
                <div class="col-12 text-center my-6">
  
                  <h4 class="my-2">Couldn't find an answer?</h4>
                  <p class="mb-0">
                   In that case, please use our contact details below. We'll answer you within 24 hours!
                  </p>
                </div>
              </div>
              <div class="row justify-content-center gap-sm-0 gap-6">
                <div class="col-sm-6">
                  <div class="p-6 rounded-4 bg-white d-flex align-items-center flex-column">
                    <div class="avatar avatar-md">
                      <span class="avatar-initial bg-label-primary rounded-3">
                        <i class="icon-base ri ri-phone-line icon-30px"></i>
                      </span>
                    </div>
                    <h5 class="mt-4 mb-1"><a class="text-heading" href="tel:+48663337793">+48 663 337 793</a></h5>
                    <p class="mb-0">Call us or drop us a message on whatsapp ✅</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="p-6 rounded-4 bg-white d-flex align-items-center flex-column">
                    <div class="avatar avatar-md">
                      <span class="avatar-initial bg-label-primary rounded-3">
                        <i class="icon-base ri ri-mail-line icon-30px"></i>
                      </span>
                    </div>
                    <h5 class="mt-4 mb-1"><a class="text-heading" href="mailto:contact@edunade.com">contact@edunade.com</a></h5>
                    <p class="mb-0">We reply within 24 hours!</p>
                  </div>
                </div>
              </div>
              <!-- /Contact -->
            </div>
            <!-- / Content -->

            <!-- Footer -->
     
            {% include 'footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->

    <!-- build:js assets/vendor/js/theme.js  -->

    <script src="{% static 'website/js/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/@algolia/autocomplete-js.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/pickr/pickr.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'website/js/vendor/libs/i18n/i18n.js' %}"></script>

    <script src="{% static 'website/js/vendor/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->

    <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'website/js/vendors.min.js' %}"></script>

    <!-- Page JS -->
  </body>
</html>
